.card-stack {
  position: relative;
  box-sizing: border-box;
  padding-top: 24px;
  height: 100%;
  .swiper {
    width: 320px;
    height: 520px;
    overflow: visible;
  }

  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #fff;
    border-radius: 6px;
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
  }
  .home-button {
    position: absolute;
    bottom: 24px;
    right: 24px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgba(17, 17, 26, 0.05);
    box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
      rgba(17, 17, 26, 0.05) 0px 8px 32px;
    background-color: #fff;
  }
}
