.btn-list {
  text-align: center;
}
.card-button {
  display: inline-block;
  padding: 0 16px;
  height: 28px;
  line-height: 28px;
  font-size: 10px;
  background-color: var(--main-color);
  color: rgba(255, 255, 255);
  margin-top: 12px;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
  margin-right: 12px;
  &:active {
    position: relative;
    top: 1px;
    filter: brightness(0.6);
  }
  &:last-child {
    margin-right: 0;
  }
}
.collins-button {
  background-color: var(--main-color);
  color: rgba(255, 255, 255);
}
.check-button {
  background-color: rgb(129, 129, 129);
}
.collins-content {
  width: 100%;
  overflow: auto;
  font-size: 12px;
  .mcols-layout {
    display: none;
  }
  .col2 {
    margin-bottom: 12px;
    span {
      color: #6e6e6e;
      font-family: serif;
      margin-right: 4px;
      font-weight: bold;
    }
    b {
      font-weight: normal;
      color: rgba(11, 96, 255, 0.6);
    }
  }
  .secondary {
    margin: 0;
  }
}
.loading {
  background-color: #fff;
}
.word-card-spiner {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
.word-card {
  height: 100%;
  width: 100%;
  color: #666;
  font-size: 14px;
  position: relative;
  font-family: 'Hiragino Sans';
  font-weight: normal;
  overflow: hidden;
  text-align: justify;
  .card-wrap {
    box-sizing: border-box;
    padding: 16px;
    position: absolute;
    background-color: #fff;
    width: 100%;
    height: 100%;
    overflow: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transition: transform 1s;
    display: flex;
    flex-direction: column;
    .inner-content {
      flex: 1;
      overflow: auto;
    }
    .bottom-btn {
      height: 40px;
      text-align: center;
    }
  }
  .front {
    transform: rotateY(0deg);
    z-index: 2;
  }
  .back {
    z-index: 1;
    transform: rotateY(180deg);
  }

  .audio {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 8px;
    top: 15px;
    color: rgba(139, 139, 139, 0.438);
    &:active {
      filter: brightness(0.7);
    }
  }
  .word {
    font-size: 32px;
    font-weight: bold;
    color: var(--main-color);
    font-family: -apple-system;
    line-height: 1.2;
  }
  .explains {
    margin-top: 12px;
    .txt {
      position: relative;
      padding-left: 16px;
      line-height: 1.7em;
      word-break: break-all;

      &::after {
        position: absolute;
        left: 5px;
        top: 6px;
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background-color: rgba(255, 0, 34, 0.4);
      }
    }
    .lable {
      color: rgba(255, 0, 34, 0.5);
      font-style: italic;
    }
  }
  .phonetic {
    font-size: 14px;
    color: #999;
    .tag-num {
      display: inline-block;
      text-align: center;
      color: rgba(255, 153, 0, 0.5);
      font-weight: bold;
      font-size: 10px;
      margin-left: 4px;
      position: relative;
      .star {
        font-size: 8px;
        line-height: 1;
      }
    }
  }
  .wfs {
    margin-top: 12px;
    font-size: 12px;
    color: #999;
    .wf-wrap {
      display: flex;
      align-items: center;
    }
    .wf-value {
      flex: 1;
      text-align: right;
    }
  }
}

.rolling-over {
  .front {
    transform: rotateY(180deg);
    z-index: 1;
  }
  .back {
    transform: rotateY(0deg);
    z-index: 2;
  }
}
