.word-card {
  height: 100%;
  width: 100%;
  color: #666;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  font-size: 14px;
  overflow: auto;
  .word {
    font-size: 32px;
    font-weight: bold;
    color: #333;
    color: rgb(11, 97, 255);
    font-family: -apple-system;
  }
  .explains {
    margin-top: 12px;
    .txt {
      position: relative;
      padding-left: 9px;
      padding-right: 8px;
      line-height: 1.7;
      &::after {
        position: absolute;
        right: 0;
        top: 4px;
        content: '';
        height: 12px;
        width: 1px;
        background-color: rgba(255, 0, 34, 0.4);
      }
    }
    .lable {
      color: rgba(255, 0, 34, 0.5);
      font-style: italic;
    }
  }
  .phonetic {
    font-size: 14px;
    color: #999;
  }
  .wfs {
    margin-top: 12px;
    font-size: 12px;
    color: #999;
    .wf-wrap {
      display: flex;
      align-items: center;
    }
    .wf-value {
      flex: 1;
      text-align: right;
      font-weight: bold;
    }
  }
}
