.word-card {
  height: 100%;
  width: 100%;
  color: #666;
  background-color: #fff;
  box-sizing: border-box;
  padding: 16px;
  font-size: 14px;
  overflow: auto;
  position: relative;
  font-family: 'Hiragino Sans';
  font-weight: normal;
  overflow: hidden;
  .audio {
    position: absolute;
    width: 50px;
    height: 50px;
    right: 8px;
    top: 15px;
    color: rgba(139, 139, 139, 0.438);
    &:active {
      filter: brightness(0.7);
    }
  }
  .word {
    font-size: 32px;
    font-weight: bold;
    color: rgb(11, 97, 255);
    font-family: -apple-system;
    line-height: 1.2;
  }
  .explains {
    margin-top: 12px;
    text-align: justify;

    .txt {
      position: relative;
      padding-left: 16px;
      line-height: 1.7em;
      word-break: break-all;

      &::after {
        position: absolute;
        left: 5px;
        top: 5px;
        content: '';
        height: 4px;
        width: 4px;
        border-radius: 2px;
        background-color: rgba(255, 0, 34, 0.4);
      }
    }
    .lable {
      color: rgba(255, 0, 34, 0.5);
      font-style: italic;
    }
  }
  .phonetic {
    font-size: 14px;
    color: #999;
  }
  .wfs {
    margin-top: 12px;
    font-size: 12px;
    color: #999;
    .wf-wrap {
      display: flex;
      align-items: center;
    }
    .wf-value {
      flex: 1;
      text-align: right;
    }
  }
}
