@import-normalize;

.text-omit {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flex-box {
  display: flex;
  align-items: center;
}
.flex-box-c {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-box-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
