.word-card-app {
  box-sizing: border-box;
  padding: 12px;
}

.style-card {
  position: relative;
  height: 160px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 16px;
  background-blend-mode: multiply, multiply;
  box-sizing: border-box;
  padding: 16px;
  .botton-blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  .progress {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .name {
    font-size: 14px;
    font-family: 'ethnocentricrg';
  }
  .count {
    font-size: 18px;
    font-weight: 600;
    font-family: 'ppfont2';
    margin-top: 8px;
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-weight: 600;
    font-size: 10px;
    &::after {
      content: '”';
      font-size: 16px;
      position: relative;
      top: 6px;
      margin-left: 4px;
    }
    &::before {
      content: '“';
      font-size: 16px;
      position: relative;
      top: 6px;
      margin-right: 4px;
    }
  }
}
