.word-card-app {
  box-sizing: border-box;
  padding: 12px;
}
.top-info {
  font-size: 16px;
  font-weight: 600;
  color: #ccc;
  margin-bottom: 30px;
}
.top-search {
  height: 80px;
  input {
    font-size: 16px;
    height: 40px;
    display: block;
    box-sizing: border-box;
    width: 100%;
    border: 0px;
    padding: 8px;
    border-radius: 8px;
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.3);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.3);
    -webkit-transition: border-color ease-in-out 0.15s,
      -webkit-box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  }
  input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.8);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
      0 0 8px rgba(102, 175, 233, 0.8);
  }
}

.style-card {
  position: relative;
  height: 160px;
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 16px;
  background-blend-mode: multiply, multiply;
  box-sizing: border-box;
  padding: 16px;
  .botton-blur {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
  }
  .progress {
    position: absolute;
    right: 16px;
    top: 16px;
  }
  .name {
    font-size: 24px;
    font-family: 'ppfont2';
  }
  .count {
    font-size: 14px;
    font-weight: 600;
    font-family: 'ppfont2';
    margin-top: 8px;
  }
  .text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-weight: 600;
    font-size: 10px;
    &::after {
      content: '”';
      font-size: 16px;
      position: relative;
      top: 6px;
      margin-left: 4px;
    }
    &::before {
      content: '“';
      font-size: 16px;
      position: relative;
      top: 6px;
      margin-right: 4px;
    }
  }
}
.stage-cent {
  color: #333;
  .stage-item {
    display: inline-block;
    text-align: center;
    width: 56px;
    height: 56px;
    line-height: 56px;
    margin-top: 12px;
    border-radius: 50%;
    border: 1px solid #66afe9;
    box-sizing: border-box;
  }
}
